<% const variations=product['variation_attributes']; const variants=product['variants'];%>

    <nav aria-label="breadcrumb justify-content-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">
                    Home</a></li>
            <li class="breadcrumb-item"><a href="/product?primary_category_id=<%=product.primary_category_id%>">
                     <%= product.primary_category_id.charAt(0).toUpperCase()+ product.primary_category_id.slice(1).replaceAll("-"," ") %>
                </a></li>
            <li class="breadcrumb-item active"><a href="">                   
                        <%= product.name%>
                </a></li>
        </ol>
    </nav>

    <div class="container" style="padding-bottom: 2%;">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <img src="/images/<%=product.image%>" title="Light Hematite Bracelet, " class="img-fluid border">
            </div>
            <div class="col-md-6">
                <div class="row">
                    <label for="" style="font-weight: bold; font-size: x-large;">
                        <%= product.name %>
                            <input type="hidden" id="product_id" name="<%=product.id%>">
                    </label>
                    <%-product.page_description %>
                        <div class=" container d-flex p-2">
                            <div class="container">
                                <% variations.forEach(variation=> { %>
                                    <div class="row align-items-start">
                                        <label for="" style="font-weight: bold;">
                                            <%=variation.name %>
                                        </label>
                                        <div class="button-box col-lg-12">
                                            <%variation['values'].forEach(value=>{%>
                                                <div class="btn-group" role="group">
                                                    <input type="radio" class="btn-check"
                                                        onclick="setValue(this.name,this.id)" id="<%=value.value%>"
                                                        name="<%=variation.name%>" value="<%=value.name%>">
                                                    <label class="btn btn-outline-danger" for="<%=value.value%>">
                                                        <%=value.name%>
                                                    </label>
                                                </div>
                                                <%})%>
                                        </div>
                                    </div>
                                    <%})%>
                            </div>
                        </div>
                </div>
                <div class="row d-flex justify-content-between" name="buy_price_row">
                    <div class="col-md-4">
                        <% if(typeof isSignedIn !=='undefined' && isSignedIn!=false){ %>
                            <a class="btn btn-success" name="buy_now" id="buy_now">Add cart</a>
                            <label for="buy_now" id='loadingmessage' style='display:none'>
                                <img src='/images/ajax-loader.gif' />
                            </label>
                            <% }else{ %>
                                <a class="btn btn-success" href="/auth/signin">Add cart</a>
                                <% } %>
                    </div>
                    <div class="col-md-2">
                        <% if(typeof isSignedIn !=='undefined' && isSignedIn!=false){ %>
                            <a class="btn btn-info" name="wishlist_now" title="Add wish" id="wishlist_now"><i class="fa solid fa-star"></i></a>
                            <label for="wishlist_now" id='loadingmessage' style='display:none'>
                                <img src='/images/ajax-loader.gif' />
                            </label>
                            <% }else{ %>
                                <a class="btn btn-info" href="/auth/signin"><i class="fa solid fa-star"></i></a>
                                <% } %>
                    </div> 
                    <div class="col-md-6 mt-2">
                        <label style="font-weight: bold;">Price: <%=product.price%>
                                <%=product.currency%>
                        </label>
                    </div>

                    <div class="hidden alert" style="margin-top: 5%;" id="alert-box-buy">
                    </div>

                </div>
            </div>
        </div>
        <% variants.forEach(variant=>{ %>
            <input type="hidden" class="variation" variant_id="<%=variant['product_id']%>"
                color="<%=variant['variation_values'].color%>" size="<%=variant['variation_values'].size%>"
                width="<%=variant['variation_values'].width%>">
            <%}) %>
    </div>

    <script>

        let color = '';
        let size = '';
        let width = '';
        let productId = document.getElementById('product_id').name;
        let variantId = '';
        let variations = document.getElementsByClassName('variation');

        function setValue(type, value) {

            type = type.toLowerCase().trim();

            if (type == "color") {
                color = value;

            } else if (type == "size") {
                size = value;

            }
            else if (type == "width") {
                width = value;

            }
        }

        function setProductData() {

            for (let i = 0; i < variations.length; i++) {

                if ((variations[i].getAttribute('color') === color || variations[i].getAttribute('color').length == 0)
                    && (variations[i].getAttribute('size') === size || variations[i].getAttribute('size').length == 0)
                    && (variations[i].getAttribute('width') === width || variations[i].getAttribute('width').length == 0)) {

                    variantId = variations[i].getAttribute('variant_id');
                    return true;
                }
            }


            return false;
        }

        $("#buy_now").on('click', function (e) {
            e.preventDefault();
            let alertBox = document.getElementById("alert-box-buy");
            alertBox.classList.remove("alert-success", "alert-danger");
            alertBox.innerText = "";

            if (!setProductData()) {
                alertBox.classList.add("alert-danger");
                alertBox.innerText = "Item could not be added to your cart. The variant you selected might be out of stock. Check your selects."
                alertBox.classList.remove("hidden");
            }
            else {
                $('#buy_now').hide();
                $('#loadingmessage').show();
                $.ajax({
                    type: 'POST',
                    url: '/cart/addItem',
                    data: {
                        variantId: variantId,
                        quantity: '1',
                        productId: productId,
                    },
                    cache: false,
                    success: (result) => {
                        $('#buy_now').show();
                        $('#loadingmessage').hide();
                        alertBox.classList.add("alert-success")
                        alertBox.innerText = "Item has successfully added to your cart";
                        if (alertBox.classList.contains("hidden")) {
                            alertBox.classList.remove("hidden");
                        }
                    },
                    error: function (result) {
                        $('#buy_now').show();
                        $('#loadingmessage').hide();
                        alertBox.classList.add("alert-danger");
                        alertBox.innerText = result.responseText.replaceAll("\"", "");
                        if (alertBox.classList.contains("hidden")) {
                            alertBox.classList.remove("hidden");
                        }
                    },

                });
                
            }


        });

        //wishlist 
        $("#wishlist_now").on('click', function (e) {
            e.preventDefault();
            let alertBox = document.getElementById("alert-box-buy");
            alertBox.classList.remove("alert-success", "alert-danger");
            alertBox.innerText = "";

            if (!setProductData()) {
                alertBox.classList.add("alert-danger");
                alertBox.innerText = "Item could not be added to your wishlist. The variant you selected might be out of stock. Check your selects."
                alertBox.classList.remove("hidden");
            }
            else {
                $('#loadingmessage').show();
                $('#wishlist_now').hide();
                $.ajax({
                    type: 'POST',
                    url: '/wishlist/addItem',
                    data: {
                        variantId: variantId,
                        quantity: '1',
                        productId: productId,
                    },
                    cache: false,
                    success: (result) => {
                        $('#wishlist_now').show();
                        $('#loadingmessage').hide();
                        alertBox.classList.add("alert-success")
                        alertBox.innerText = "Item has successfully added to your wishlist";
                        if (alertBox.classList.contains("hidden")) {
                            alertBox.classList.remove("hidden");
                        }
                    },
                    error: function (result) {
                        $('#wishlist_now').show();
                        $('#loadingmessage').hide();
                        alertBox.classList.add("alert-danger");
                        alertBox.innerText = result.responseText.replaceAll("\"", "");
                        if (alertBox.classList.contains("hidden")) {
                            alertBox.classList.remove("hidden");
                        }
                    },

                });
            }


        });

    </script>