<div class="container" style="padding-bottom: 2%;">
    <div class="row justify-content-center" style="padding-bottom: 5%;">
        <div class="col-md-6">
            <div class="card bg-light mb-3" style="max-width: 30rem;">
                <div class="card-body">
                    <h5 class="card-title text-center">Profile</h5>
                    <p class="card-text" style="padding: 2%;">
                        <label for="" style="font-weight: bold;padding-bottom: 3%; ">Email:</label>
                        <%= userData.email %> <br>
                            <label for="" style="font-weight: bold;padding-bottom: 3%;">Name:</label>
                            <%= userData.name %> <br>
                                <label for="" style="font-weight: bold;padding-bottom: 3%;">Registered:</label>
                                <%=userData.createdAt %>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-3">
            <a href="/cart"><i class="fa-solid fa-cart-shopping fa-6x" style="color: black;"><span
                        class="badge badge-pill badge-danger" style="font-size:1rem;">
                        <%=cartItemCount %>
                    </span></i></a>
            <h5>Shopping Cart</h5>
        </div>
        <div class="col-md-2">
            <a href="/wishlist"><i class="fa-regular fa-rectangle-list fa-6x" style="color: black;"><span
                        class="badge badge-pill badge-danger" style="font-size:1rem;">
                        <%=wishItemCount %>
                    </span></i></a>
            <h5>Wish List</h5>
        </div>
    </div>

</div>