<% if (typeof error !=='undefined' ) { %>
    <div class="alert alert-danger" id="alert-box">
        <%= error %>
    </div>
    <% }%>
        <% if(typeof items !=='undefined' ){ %>
            <section class="h-100 gradient-custom">
                <div class="container py-5">
                    <div class="row d-flex justify-content-center my-4">
                        <div class="col-md-8">
                            <h5 style="color: red;">WISHLIST</h5>
                            <% for(let i=0; i<items.length; i++){ %>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row d-flex justify-content-between mx-2">
                                            <h6 style="font-weight: bold;">
                                                <%= items[i].product_title %>
                                            </h6>
                                            <h6 style="font-weight: bolder;">
                                                Price:<%= items[i]['variant'].price%> USD
                                            </h6>
                                        </div>
                                        <hr class="my-2" />

                                        <div class="row d-flex align-items-center">
                                            <div class="col-lg-5 mb-4 mb-lg-0">

                                                <div class="bg-image hover-overlay hover-zoom ripple rounded"
                                                    data-mdb-ripple-color="light">
                                                    <img src="\images\<%=items[i].product_image%>" class="w-100" />
                                                </div>

                                            </div>
                                            <div class="col-lg-4 mb-lg-0">

                                                <p>
                                                    <%= items[i].product_description %>
                                                </p>

                                            </div>
                                            <div class="col-lg-3">
                                                <% if(items[i]['variant']['variation_values']['color']){%>
                                                    <p><strong>
                                                            Color:
                                                        </strong>
                                                        <%=items[i]['variant']['variation_values']['color']%>
                                                    </p>
                                                    <% } %>
                                                        <% if(items[i]['variant']['variation_values']['size']){%>
                                                            <p><strong>
                                                                    Size:
                                                                </strong>
                                                                <%=items[i]['variant']['variation_values']['size']%>
                                                            </p>
                                                            <% } %>

                                                                <%if(items[i]['variant']['variation_values']['width']){%>
                                                                    <p><strong>
                                                                            Width:
                                                                        </strong>
                                                                        <%=items[i]['variant']['variation_values']['width']%>
                                                                    </p>
                                                                    <% } %>
                                            </div>
                                        </div>
                                        <div class="row d-flex justify-content-end">
                                            <a href="/product/single?primary_category_id=<%=items[i].primary_category_id%>&id=<%=items[i].productId%>"
                                                type="button" class="btn btn-secondary  me-1 mb-2 mx-2"
                                                data-mdb-toggle="tooltip" title="More Info">More Info<span
                                                    class="badge badge-secondary"><i
                                                        class="fa-solid fa-circle-info fa-xl">
                                                    </i></span>
                                            </a>
                                            <form action="/wishlist/removeItem" method="post">
                                                <input type="hidden" name="variantId"
                                                    value="<%=items[i]['variant'].product_id%>">
                                                <input type="hidden" name="productId" value="<%=items[i].productId%>">
                                                <button type="submit" class="btn btn-danger  me-1 mb-2 mx-2"
                                                    data-mdb-toggle="tooltip" title="Remove item">
                                                    <i class="fas fa-trash fa-xl"></i>
                                                </button>
                                            </form>

                                        </div>
                                    </div>

                                </div>
                                <% } %>
                        </div>
                    </div>

                </div>
            </section>
            <% } %>